header {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

header .logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text);
}

header .logo img {
    width: 40px;
}

header .form input {
    width: 200px;
    border-radius: 10px;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin-right: 30px;
    transition: 0.3s ;
    background-color:var(--inputCol) ;
    color: var(--text);

}
header .form  input:hover {
    width: 250px;
    transition: 0.3s ;
}

header .form button.order {
    background: var(--iconColor);
    padding: 5px 16px;
    margin-right: 30px;
    color: var(--text);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: right;
}

header .form button span {
    padding-right: 5px;
    display: none;
}

header .form button:hover {
    span {
        display: inline-block;
    }
} 

header .form button.bar {
    height: 30px;
    width: 30px;
    text-align: center;
    color: var(--text);
    background: var(--iconColor);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 50px;

}
header .form button.bar:active {
    scale: 0.5;
}

@media (max-width: 700px ) {
    header {
        padding-right: 10px;
        padding-left: 10px;
    }
    header .form input {
        display: none;
    }
    header .logo  {
        margin-left: 0px;
    }
    header .form button.bar {
        margin-right: 0px;
        font-size: 15px;
        height: 25px;
        width: 25px;
    }
}