@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

:root {
  --primary:#fbc779;
  --iconColor:#f08f08 ;
  --fedpac:#fff6e9;
  --text: #000000;
  --nav2:#cfd0d2;
  --inputCol: #ddd;
  --landing:#ddd;
  --product:#fff;
  --hoverPro: #fff;
  --hover:rgb(40, 40, 43);

}

.dark {
  --primary:#705127;
  --iconColor:#f08f08 ;
  --fedpac:#fff6e9;
  --text: #fffefe;
  --nav2:#111827;
  --inputCol: #1F2937;
  --landing:#030712;
  --product:#111827;
  --hoverPro: #1F2937;
  --hover: orange;

}


*{
  font-family: "Roboto", system-ui;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

html {
  font-family: "Roboto", system-ui;
  scroll-behavior: smooth;
}

button {
  all: unset;
}

button:active {
  scale: 0.5;
  transition: 0.3s;
}

